*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body{
    background: linear-gradient(#e9967a, #ffe4c4);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80%;
    background-color: darksalmon;
    background-color: rgba(223, 150, 112, 0.4);
    border-radius: 20px;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(228, 128, 34, 0.799);
    position: absolute;
    clip-path: circle(40% at right 70%);
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav .logo{
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    margin: 0 6px;   
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: blueviolet;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
}
.content .text h2{
    font-size: 40px ;
    text-transform: uppercase;
    font-weight: 700;
}
.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
}